
loss/.jovianrc
supervised/.ipynb_checkpoints/linear_regression-checkpoint.ipynb
supervised/.jovianrc
supervised/.ipynb_checkpoints/knn-checkpoint.ipynb
supervised/.ipynb_checkpoints/logistic_regression-checkpoint.ipynb
unsupervised/.ipynb_checkpoints/k-means-checkpoint.ipynb
supervised/.ipynb_checkpoints/knn-checkpoint.ipynb
unsupervised/.jovianrc
supervised/.ipynb_checkpoints/word2vec-skipgram-checkpoint.ipynb
supervised/.ipynb_checkpoints/knn-checkpoint.ipynb
supervised/nlp/.ipynb_checkpoints/Untitled-checkpoint.ipynb
supervised/nlp/.jovianrc
supervised/nlp/Untitled.ipynb
supervised/.ipynb_checkpoints/knn-checkpoint.ipynb
supervised/.ipynb_checkpoints/knn-checkpoint.ipynb
supervised/.ipynb_checkpoints/knn-checkpoint.ipynb
